<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/util.css">
    <title>Document</title>
</head>
<body>
    <div ng-controller="loginCtrl"  class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
            <form class="login100-form validate-form">
              <span class="login100-form-title p-b-43">
               {{appSettings.appName}}
              </span>
              
              
              <div ng-if="admin" class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input ng-model="user.email" class="input100" type="email" name="email">
                <span class="focus-input100"></span>
                <span class="label-input100">Email</span>
              </div>
              <div ng-if="!admin" class="wrap-input100 validate-input" data-validate = "inimum length of 10">
                <input ng-model="user.matNo" class="input100" type="text" name="MatNo">
                <span class="focus-input100"></span>
                <span class="label-input100">Matriculation Number</span>
              </div>
              
              
              <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input ng-model="user.password" class="input100" type="password" name="pass">
                <span class="focus-input100"></span>
                <span class="label-input100">Password</span>
              </div>
    
             <br>
          
    
              <div class="container-login100-form-btn">
                <button ng-click="signIn()" class="login100-form-btn">
                  Login
                </button>
              </div>
              
              <div class="text-center p-t-46 p-b-20">
                <span class="txt2">
                 This application is secured
                </span>
              </div>
    
              <div class="login100-form-social flex-c-m">
               
              <span style="margin-right: 10px;">click for Admin</span>   <input type="checkbox" ng-model="admin">
              
    
               
              </div>
            </form>
    
            <div class="login100-more" id="side">
            </div>
          </div>
        </div>
      </div>
    <script src="./js/angular.js"></script>
    <script src="./js/angular-ui-router.js"></script>
    <script src="./renderer.js"></script>
</body>
</html>