<div>
    <div class="metro panorama">
        <div class="panorama-sections">

           <div class="panorama-section">

              <h2>Manage Candidates</h2>


              <div ui-sref="student" class="tile-column-span-2">
                 <a class="tile wide imagetext wideimage bg-color-blue" href="#">
                    <img src="./images/cand1.jpg" alt=""/>
                    <div class="textover-wrapper transparent">
                      <div class="text2"><strong>Add Candidate</strong><br/> Add new candidate into the system. Don't forget to add position first. </div>
                   </div>
                 </a>

                 <a class="tile wide imagetext wideimage bg-color-green" href="#">
                    <img src="./images/elections.jpg" alt=""/>
                    <div class="textover-wrapper transparent">
                       <div class="text2"><strong>Manage Position</strong><br/>Add all the possible positions.</div>
                    </div>
                 </a>

                 <a class="tile square image bg-color-red" href="#">
                    <img src="./images/elections2.png" alt=""/>
                    <div class="textover-wrapper transparent">
                       <div class="text2">Wulfenite </div>
                    </div>
                 </a>

                 <a class="tile square image" href="#">
                    <img src="./images/elections3.jpg" alt=""/>
                    <div class="textover-wrapper transparent">
                       <div class="text2">Hagia Sophia</div>
                    </div>
                 </a>

              </div>

              <div class="tile-column-span-1">
                 <a class="tile squarepeek bg-color-orange" href="#">
                    <img src="./images/elections4.jpg" alt=""/>
                    <div class="text-inner">
                       <div class="text4">The Asian Openbill or Asian Openbill Stork (Anastomus oscitans) is a large wading bird in the stork family Ciconiidae.</div>
                    </div>
                 </a>

              </div>

           </div>

           <div class="panorama-section">

              <h2>Manage Students</h2>

              <div class="tile-column-span-2">
                 <a class="tile widepeek" href="#">
                    <div class="tile wide image">
                       <img src="./images/student.png" alt=""/>
                    </div>
                    <div class="tile wide text">
                       <div class="text-header">Manage Student</div>
                       <div class="text4">Add, edit and delete students from the system. Only students registered that can vote.</div>
                    </div>
                 </a>

                 <a class="tile wide imagetext wideimage bg-color-green" href="#">
                    <img src="./images/student.png" alt=""/>
                    <div class="textover-wrapper transparent">
                       <div class="text2">Famous Fantastic Mysteries</div>
                    </div>
                 </a>

              </div>


           </div>


           <div class="panorama-section tile-span-4">

              <h2>Admin Functions</h2>

              <a class="tile app bg-color-orange" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-mail"></span>
                 </div>
                 <div class="app-label">Mail</div>
                 <div class="app-count">12</div>
              </a>

              <a class="tile app bg-color-blue" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-map"></span>
                 </div>
                 <div class="app-label">Map</div>
              </a>

              <a class="tile wide imagetext bg-color-greenDark" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-chat-2"></span>
                 </div>
                 <div class="column-text">
                    <div class="text4">Chat with your friends</div>
                 </div>
                 <div class="app-label">145 friends online</div>
              </a>

              <a class="tile app bg-color-purple" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-weather"></span>
                 </div>
                 <div class="app-label">Weather</div>
              </a>

              <a class="tile app bg-color-green" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-linkedin"></span>
                 </div>
                 <div class="app-label">LinkedIn</div>
              </a>

           </div>

         

        </div>
     </div>
     <a id="panorama-scroll-prev" href="#"></a>
     <a id="panorama-scroll-next" href="#"></a>
     <div id="panorama-scroll-prev-bkg"></div>
     <div id="panorama-scroll-next-bkg"></div>
</div>